@{
    Layout = "_Layout"; 
}  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Collection</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/images/movie_filter_FILL0_wght400_GRAD0_opsz48.svg">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="nav-bar">
        <div class="logo">
            Game Collection
        </div>
        <ul class="nav-link">
            <li><a class="active">Home</a></li>
            <li><a href="#">About</a></li>
            <li>
                <a href="#">Admin <i class="fa fa-caret-down"></i></a>

                <ul class="dropdown-nav-link">
                    <li><a>Form</a></li>
                    <li><a>Table</a></li> 
                    <li><a>Test</a></li>
                    <li><a>Logout</a></li>
                </ul>
            </li>
            <li><a href="#">Login</a></li>
        </ul>
    </nav>
    <div class="container">
        <section class="search-bar">
            <form>
                <input type="text" placeholder="search here">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </section>
        <section class="games">
            <div class="games-card">
                <div class="games-image">
                    <img src="~/Images/dota2.jpg">
                </div>
                <div class="info">
                    <h4>Dota 2</h4>
                    <h4>Action, Adventure, Farming</h4>
                    <h4>John doe, max </h4>
                    <h4>2013</h4>
                </div>
            </div>
             
            <div class="games-card">
                <div class="games-image">
                    <img src="~/Images/eu4.png">
                </div>
                <div class="info">
                    <h4>Europa Universalis 4</h4>
                    <h4>Strategy, History</h4>
                    <h4>Realese date: </h4>
                    <h4>2013</h4>
                </div>
            </div>
             
            <div class="games-card">
                <div class="games-image">
                    <img src="~/Images/forhonor.jpg">
                </div>
                <div class="info">
                    <h4>ForHonor</h4>
                    <h4>Action, Battle</h4>
                    <h4>Realese date: </h4>
                    <h4>2018</h4>
                </div>
            </div>

            <div class="games-card">
                <div class="games-image">
                    <img src="~/Images/outlast.jpg">
                </div>
                <div class="info">
                    <h4>Outlast The Trials</h4>
                    <h4>Action, Horror</h4>
                    <h4>Realese date: </h4>
                    <h4>2023</h4>
                </div>
            </div>

            <div class="games-card">
                <div class="games-image">
                    <img src="~/Images/minecraft.png">
                </div>
                <div class="info">
                    <h4>Minecraft</h4>
                    <h4>Adventure</h4>
                    <h4>Realese date: </h4>
                    <h4>2011</h4>
                </div>
            </div>
             
            <div class="games-card">
                <div class="games-image">
                    <img src="~/Images/sonsoftheforest.jpg">
                </div>
                <div class="info">
                    <h4>Sons Of The Forest</h4>
                    <h4>Action, Adventure, Horror</h4>
                    <h4>Realese date: </h4>
                    <h4>2023</h4>
                </div>
            </div>

            <div class="games-card">
                <div class="games-image">
                    <img src="~/Images/tf2.jpg">
                </div>
                <div class="info">
                    <h4>Team Fortress 2</h4>
                    <h4>Shooter, Action</h4>
                    <h4>Realese date: </h4>
                    <h4>2007</h4>
                </div>
            </div>
            <div class="games-card">
                <div class="games-image">
                    <img src="~/Images/forza5.jpg">
                </div>
                <div class="info">
                    <h4>Forza Horizon 5</h4>
                    <h4>Racing, Action</h4>
                    <h4>Realese date: </h4>
                    <h4>2021</h4>
                </div>
            </div>


            <div class="games-card">
                <div class="games-image">
                    <img src="~/Images/csgo.png">
                </div>
                <div class="info">
                    <h4>Counter Strike Global Offensive</h4>
                    <h4>Action, Shooter</h4>
                    <h4>Realese date: </h4>
                    <h4>2012</h4>
                </div>
            </div>

            <div class="games-card">
                <div class="games-image">
                    <img src="~/Images/diablo4.jpg">
                </div>
                <div class="info">
                    <h4>Diablo 4</h4>
                    <h4>Action, Adventure</h4>
                    <h4>Realese date: </h4>
                    <h4>2023</h4>
                </div>
            </div>
        </section> 
    </div>
    <footer>
        &#169; 2023 GameCollection Proiect
    </footer>
</body>
</html>